<table>
  <tr>
    <th>名前</th>
    <th>メアド</th>
    <th>権限</th>
    <th></th>
  </tr>
  <% users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.role_i18n %></td>
      <td><%= link_to '削除', user_path(user), method: :delete, data: { confirm: "#{user.name}を削除しますか？" } %></td>
    </tr>
  <% end %>
</table>
