<header>
  <div class="head">
    <%= link_to 'クソコードレビュー大会！', root_path %>
  </div>
  <div>
    <%= link_to '新規記事作成', new_article_path %>
  </div>
  <div>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>
</header>
